# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Model files
data/models/

# VS Code
.vscode/

# System files
.DS_Store

# Dataset files
data/raw/
data/processed/
*.xlsx